.category {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 24px;
  height: fit-content;
}

.category h1 {
  text-transform: capitalize;
  margin-bottom: 12px;
}
.productsCardsPreview{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}