#mainPage{
  position: relative;
}
.pageTransition{
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn{
  from{
    opacity: 1;
    transform: translateY(10px);
  }
  to{
    opacity: 0;
    transform: translateY(0);
  }
}